public/do-types-10.xsd

<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://www.daisy.org/ns/daisy-online/" xmlns="http://www.daisy.org/ns/daisy-online/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:db="http://docbook.org/ns/docbook" xmlns:dc="http://purl.org/dc/elements/1.1/">

	  <xs:annotation>
		    <xs:documentation> This W3C XML Schema document and the entities referenced from within it are a
			normative part of the DAISY Online Protocol Specification
			(http://www.daisy.org/projects/daisy-online-delivery/). Version: 20100402 (Proposed Recommendation) 
		</xs:documentation>
	  </xs:annotation>

	  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>

	  <xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>

	  <xs:element name="readingSystemAttributes">
      <xs:complexType>
			      <xs:sequence>
				        <xs:choice minOccurs="0" maxOccurs="unbounded">
					          <xs:any namespace="##other" processContents="skip"/>
				        </xs:choice>

				        <xs:element name="manufacturer" type="xs:string" minOccurs="1" maxOccurs="1"/>
				        <xs:element name="model" type="xs:string" minOccurs="1" maxOccurs="1"/>

				        <xs:element name="serialNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>

				        <xs:element name="version" type="xs:string" minOccurs="1" maxOccurs="1"/>

				        <xs:element name="config" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="supportsMultipleSelections" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
							              <xs:element name="preferredUILanguage" minOccurs="1" maxOccurs="1" type="xs:language"/>
							              <xs:element name="bandwidth" type="xs:int" minOccurs="0" maxOccurs="1"/>

							              <xs:element name="supportedContentFormats" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element name="contentFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									                  </xs:sequence>
								                </xs:complexType>
                     </xs:element>

							              <xs:element name="supportedContentProtectionFormats" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element name="protectionFormat" minOccurs="0" maxOccurs="unbounded">
                                 <xs:simpleType>
												                        <xs:restriction base="xs:string">
												                           <xs:enumeration value="PDTB2"/>
												                        </xs:restriction>
											                      </xs:simpleType>
                              </xs:element>
									                  </xs:sequence>
								                </xs:complexType>
                     </xs:element>

							              <xs:element minOccurs="0" maxOccurs="1" ref="keyRing"/>
							

							              <xs:element name="supportedMimeTypes" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element name="mimeType" minOccurs="0" maxOccurs="unbounded">
                                 <xs:complexType>
												                        <xs:attribute name="type" type="xs:string" use="required"/>
												
												                        <xs:attribute ref="xml:lang" use="optional"/>
											                      </xs:complexType>
                              </xs:element>
									                  </xs:sequence>
								                </xs:complexType>
                     </xs:element>

							              <xs:element name="supportedInputTypes" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element ref="input" minOccurs="0" maxOccurs="unbounded"/>
									                  </xs:sequence>
								                </xs:complexType>
                     </xs:element>
							              <xs:element name="requiresAudioLabels" minOccurs="1" maxOccurs="1" type="xs:boolean"/>							
							              <xs:element name="additionalTransferProtocols" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element name="protocol" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
									                  </xs:sequence>
								                </xs:complexType>
                     </xs:element>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

    <xs:element name="input">
      <xs:complexType>
            <xs:attribute name="type" use="required">
            <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TEXT_NUMERIC"/>
                        <xs:enumeration value="TEXT_ALPHANUMERIC"/>
                        <xs:enumeration value="AUDIO"/>
                    </xs:restriction>
                </xs:simpleType>
         </xs:attribute>
        </xs:complexType>
   </xs:element>

	  <xs:element name="announcements">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="announcement" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="label" minOccurs="1" maxOccurs="1"/>
						            </xs:sequence>
						            <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
						            <xs:attribute name="type" use="optional" default="INFORMATION">
                     <xs:simpleType>
								                <xs:restriction base="xs:string">
									                  <xs:enumeration value="WARNING"/>
									                  <xs:enumeration value="ERROR"/>
									                  <xs:enumeration value="INFORMATION"/>
									                  <xs:enumeration value="SYSTEM"/>
								                </xs:restriction>
							              </xs:simpleType>
                  </xs:attribute>
						            <xs:attribute name="priority" use="optional" default="3">
                     <xs:simpleType>
								                <xs:restriction base="xs:int">
									                  <xs:minInclusive value="1"/>
									                  <xs:maxInclusive value="3"/>
								                </xs:restriction>
							              </xs:simpleType>
                  </xs:attribute>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="label">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="text" type="xs:string" minOccurs="1" maxOccurs="1"/>
				        <xs:element name="audio" minOccurs="0" maxOccurs="1">
               <xs:complexType>
						            <xs:attribute name="uri" type="xs:anyURI" use="required"/>
						            <xs:attribute name="rangeBegin" type="xs:long" use="optional"/>
						            <xs:attribute name="rangeEnd" type="xs:long" use="optional"/>
						            <xs:attribute name="size" type="xs:long" use="optional"/>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
			      <xs:attribute ref="xml:lang" use="required"/>
			      <xs:attribute name="dir" use="optional">
            <xs:simpleType>
					          <xs:restriction base="xs:string">
						            <xs:enumeration value="ltr"/>
						            <xs:enumeration value="rtl"/>
					          </xs:restriction>
				        </xs:simpleType>
         </xs:attribute>						
		    </xs:complexType>
   </xs:element>

	  <xs:element name="contentMetadata">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="sample" minOccurs="0" maxOccurs="1">
               <xs:complexType>
						            <xs:attribute name="id" use="required" type="xs:string"/>
					          </xs:complexType>
            </xs:element>

				        <xs:element name="metadata" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="dc:title" minOccurs="1" maxOccurs="1"/>
							              <xs:element ref="dc:identifier" minOccurs="1" maxOccurs="1"/>
							              <xs:element ref="dc:publisher" minOccurs="0" maxOccurs="1"/>
							              <xs:element ref="dc:format" minOccurs="1" maxOccurs="1"/>
							              <xs:element ref="dc:date" minOccurs="0" maxOccurs="1"/>
							              <xs:element ref="dc:source" minOccurs="0" maxOccurs="1"/>
							              <xs:element ref="dc:type" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:subject" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:rights" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:relation" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:language" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:description" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:creator" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:coverage" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element ref="dc:contributor" minOccurs="0" maxOccurs="unbounded"/>

							              <xs:element name="narrator" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							              <xs:element name="size" type="xs:long" minOccurs="1" maxOccurs="1"/>
							              <xs:element name="meta" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
									                  <xs:attribute name="name" type="xs:string" use="required"/>
									                  <xs:attribute name="content" type="xs:string" use="required"/>
								                </xs:complexType>
                     </xs:element>
							              <xs:choice minOccurs="0" maxOccurs="unbounded">
								                <xs:any namespace="##other" processContents="lax"/>
							              </xs:choice>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>

			      <xs:attribute name="category" type="xs:string" use="optional"/>

			      <xs:attribute name="requiresReturn" type="xs:boolean" use="required"/>
			
		    </xs:complexType>
   </xs:element>

	  <xs:element name="resources">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="resource" minOccurs="1" maxOccurs="unbounded">
               <xs:complexType>
						            <xs:attribute name="uri" type="xs:anyURI" use="required"/>
						            <xs:attribute name="mimeType" type="xs:string" use="required"/>
						            <xs:attribute name="size" type="xs:long" use="required"/>
						            <xs:attribute name="localURI" type="xs:anyURI" use="required"/>
						            <xs:attribute name="lastModifiedDate" type="xs:dateTime" use="optional"/>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
			      <xs:attribute name="returnBy" type="xs:dateTime" use="optional"/>
			      <xs:attribute name="lastModifiedDate" type="xs:dateTime" use="optional"/>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="contentList">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="label" minOccurs="0" maxOccurs="1"/>
				        <xs:element name="contentItem" minOccurs="0" maxOccurs="unbounded">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="label" minOccurs="1" maxOccurs="1"/>
						            </xs:sequence>
						            <xs:attribute name="id" type="xs:string" use="required"/>

						            <xs:attribute name="lastModifiedDate" type="xs:dateTime" use="optional"/>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>

			      <xs:attribute name="totalItems" type="xs:int" use="required"/>
			      <xs:attribute name="firstItem" type="xs:int" use="optional"/>
			      <xs:attribute name="lastItem" type="xs:int" use="optional"/>
			      <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="inputQuestion">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="inputTypes" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="input" minOccurs="1" maxOccurs="unbounded"/>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
				        <xs:element ref="label" minOccurs="1" maxOccurs="1"/>
			      </xs:sequence>
			      <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="questions">
      <xs:complexType>
			      <xs:choice>
				        <xs:choice minOccurs="1" maxOccurs="unbounded">
					          <xs:element ref="multipleChoiceQuestion"/>
					          <xs:element ref="inputQuestion"/>
				        </xs:choice>
				        <xs:element name="contentListRef" type="xs:NMTOKEN"/>
				        <xs:element ref="label"/>
			      </xs:choice>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="multipleChoiceQuestion">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="label" minOccurs="1" maxOccurs="1"/>
				        <xs:element name="choices" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="choice" minOccurs="1" maxOccurs="unbounded">
                        <xs:complexType>
									                  <xs:sequence>
										                    <xs:element ref="label" minOccurs="1" maxOccurs="1"/>
									                  </xs:sequence>
									                  <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
								                </xs:complexType>
                     </xs:element>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
			      <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			      <xs:attribute name="allowMultipleSelections" type="xs:boolean" use="optional" default="false"/>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="userResponses">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="userResponse" minOccurs="1" maxOccurs="unbounded">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="data" minOccurs="0" maxOccurs="1">
                        <xs:simpleType>
									                  <xs:restriction base="xs:base64Binary"/>
								                </xs:simpleType>
                     </xs:element>
						            </xs:sequence>
						            <xs:attribute name="questionID" type="xs:NMTOKEN" use="required"/>
						            <xs:attribute name="value" type="xs:string" use="optional"/>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="serviceAttributes">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element name="serviceProvider" minOccurs="0" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="label" minOccurs="0" maxOccurs="1"/>
						            </xs:sequence>
						            <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
					          </xs:complexType>
            </xs:element>

				        <xs:element name="service" minOccurs="0" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element ref="label" minOccurs="0" maxOccurs="1"/>
						            </xs:sequence>
						            <xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
					          </xs:complexType>
            </xs:element>

				        <xs:element name="supportedContentSelectionMethods" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="method" minOccurs="1" maxOccurs="2">
                        <xs:simpleType>
									                  <xs:restriction base="xs:string">
										                    <xs:enumeration value="OUT_OF_BAND"/>
										                    <xs:enumeration value="BROWSE"/>
									                  </xs:restriction>
								                </xs:simpleType>
                     </xs:element>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>

				        <xs:element name="supportsServerSideBack" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
				        <xs:element name="supportsSearch" type="xs:boolean" minOccurs="1" maxOccurs="1"/>
				        <xs:element name="supportedUplinkAudioCodecs" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="codec" minOccurs="0" type="xs:string" maxOccurs="unbounded"/>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
				        <xs:element name="supportsAudioLabels" minOccurs="1" maxOccurs="1" type="xs:boolean"/>

				        <xs:element name="supportedOptionalOperations" minOccurs="1" maxOccurs="1">
               <xs:complexType>
						            <xs:sequence>
							              <xs:element name="operation" minOccurs="0" maxOccurs="unbounded">
                        <xs:simpleType>
									                  <xs:restriction base="xs:string">
										                    <xs:enumeration value="SET_BOOKMARKS"/>
										                    <xs:enumeration value="GET_BOOKMARKS"/>
										                    <xs:enumeration value="DYNAMIC_MENUS"/>
										                    <xs:enumeration value="SERVICE_ANNOUNCEMENTS"/>
										                    <xs:enumeration value="PDTB2_KEY_PROVISION"/>
									                  </xs:restriction>
								                </xs:simpleType>
                     </xs:element>
						            </xs:sequence>
					          </xs:complexType>
            </xs:element>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="item" type="xs:string"/>

	  <xs:element name="read">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

	  <xs:element name="keyRing">
      <xs:complexType>
			      <xs:sequence>
				        <xs:element ref="item" minOccurs="0" maxOccurs="unbounded"/>
			      </xs:sequence>
		    </xs:complexType>
   </xs:element>

</xs:schema>
