public/do-wsdl-10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DAISYOnlineService" targetNamespace="http://www.daisy.org/ns/daisy-online/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.daisy.org/ns/daisy-online/" xmlns:db="http://docbook.org/ns/docbook" xmlns:do="http://www.daisy.org/ns/daisy-online/">

	

	  <types>

		    <xs:schema targetNamespace="http://www.daisy.org/ns/daisy-online/" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:daisy="http://www.daisy.org/z3986/2005/bookmark/" xmlns:pdtb2="http://www.daisy.org/DRM/2005/KeyExchange">

			      <xs:include schemaLocation="do-types-10.xsd"/>

			      <xs:import namespace="http://www.daisy.org/z3986/2005/bookmark/" schemaLocation="bookmark-2005-1.xsd"/>

			      <xs:import namespace="http://www.daisy.org/DRM/2005/KeyExchange" schemaLocation="KeyExchange-2005-1.xsd"/>

			

			      <xs:element name="logOn">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="username" type="xs:string"/>

						            <xs:element minOccurs="1" maxOccurs="1" name="password" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="logOnResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="logOnResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="logOff">
            <xs:complexType>
					
				</xs:complexType>
         </xs:element>

			      <xs:element name="logOffResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="logOffResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="setReadingSystemAttributes">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:readingSystemAttributes"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="setReadingSystemAttributesResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="setReadingSystemAttributesResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="setBookmarks">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>

						            <xs:element minOccurs="1" maxOccurs="1" ref="daisy:bookmarkSet"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="setBookmarksResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="setBookmarksResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getBookmarks">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getBookmarksResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="daisy:bookmarkSet"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="issueContent">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="issueContentResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="issueContentResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="returnContent">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="returnContentResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="returnContentResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentList">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:NMTOKEN"/>

						            <xs:element minOccurs="1" maxOccurs="1" name="firstItem" type="xs:int"/>

						            <xs:element minOccurs="1" maxOccurs="1" name="lastItem" type="xs:int"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentListResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:contentList"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getServiceAnnouncements">
            <xs:complexType>
					
				</xs:complexType>
         </xs:element>

			      <xs:element name="getServiceAnnouncementsResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:announcements"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="markAnnouncementsAsRead">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:read"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="markAnnouncementsAsReadResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="markAnnouncementsAsReadResult" type="xs:boolean"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getQuestions">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:userResponses"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getQuestionsResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:questions"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentMetadata">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentMetadataResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:contentMetadata"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentResources">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="contentID" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getContentResourcesResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:resources"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getKeyExchangeObject">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" name="requestedKeyName" type="xs:string"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getKeyExchangeObjectResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="pdtb2:KeyExchange"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			      <xs:element name="getServiceAttributes">
            <xs:complexType>
					
				</xs:complexType>
         </xs:element>

			      <xs:element name="getServiceAttributesResponse">
            <xs:complexType>
					          <xs:sequence>
						            <xs:element minOccurs="1" maxOccurs="1" ref="do:serviceAttributes"/>
					          </xs:sequence>
				        </xs:complexType>
         </xs:element>

			

			      <xs:element name="internalServerErrorFault" type="tns:internalServerErrorFaultType"/>

			      <xs:complexType name="internalServerErrorFaultType">
				        <xs:sequence>
					          <xs:element minOccurs="0" name="reason" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>

			      <xs:element name="invalidOperationFault" type="tns:invalidOperationFaultType"/>

			      <xs:complexType name="invalidOperationFaultType">
				        <xs:sequence>
					          <xs:element minOccurs="0" name="reason" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>

			      <xs:element name="invalidParameterFault" type="tns:invalidParameterFaultType"/>

			      <xs:complexType name="invalidParameterFaultType">
				        <xs:sequence>
					          <xs:element minOccurs="0" name="reason" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>

			      <xs:element name="operationNotSupportedFault" type="tns:operationNotSupportedFaultType"/>

			      <xs:complexType name="operationNotSupportedFaultType">
				        <xs:sequence>
					          <xs:element minOccurs="0" name="reason" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>

			      <xs:element name="noActiveSessionFault" type="tns:noActiveSessionFaultType"/>

			      <xs:complexType name="noActiveSessionFaultType">
				        <xs:sequence>
					          <xs:element minOccurs="0" name="reason" type="xs:string"/>
				        </xs:sequence>
			      </xs:complexType>

		    </xs:schema>

	  </types>

	

	  <message name="logOn_inputMessage">
		    <part name="parameters" element="tns:logOn"/>
	  </message>

	  <message name="logOn_outputMessage">
		    <part name="parameters" element="tns:logOnResponse"/>
	  </message>

	

	  <message name="logOff_inputMessage">
		    <part name="parameters" element="tns:logOff"/>
	  </message>

	  <message name="logOff_outputMessage">
		    <part name="parameters" element="tns:logOffResponse"/>
	  </message>
	

	

	  <message name="setReadingSystemAttributes_inputMessage">
		    <part name="parameters" element="tns:setReadingSystemAttributes"/>
	  </message>

	  <message name="setReadingSystemAttributes_outputMessage">
		    <part name="parameters" element="tns:setReadingSystemAttributesResponse"/>
	  </message>

	

	  <message name="setBookmarks_inputMessage">
		    <part name="parameters" element="tns:setBookmarks"/>
	  </message>

	  <message name="setBookmarks_outputMessage">
		    <part name="parameters" element="tns:setBookmarksResponse"/>
	  </message>

	

	  <message name="getBookmarks_inputMessage">
		    <part name="parameters" element="tns:getBookmarks"/>
	  </message>

	  <message name="getBookmarks_outputMessage">
		    <part name="parameters" element="tns:getBookmarksResponse"/>
	  </message>

	
	  <message name="issueContent_inputMessage">
		    <part name="parameters" element="tns:issueContent"/>
	  </message>

	  <message name="issueContent_outputMessage">
		    <part name="parameters" element="tns:issueContentResponse"/>
	  </message>

	

	  <message name="returnContent_inputMessage">
		    <part name="parameters" element="tns:returnContent"/>
	  </message>

	  <message name="returnContent_outputMessage">
		    <part name="parameters" element="tns:returnContentResponse"/>
	  </message>

	

	  <message name="getContentList_inputMessage">
		    <part name="parameters" element="tns:getContentList"/>
	  </message>

	  <message name="getContentList_outputMessage">
		    <part name="parameters" element="tns:getContentListResponse"/>
	  </message>

	

	  <message name="getServiceAnnouncements_inputMessage">
		    <part name="parameters" element="tns:getServiceAnnouncements"/>
	  </message>

	  <message name="getServiceAnnouncements_outputMessage">
		    <part name="parameters" element="tns:getServiceAnnouncementsResponse"/>
	  </message>

	

	  <message name="markAnnouncementsAsRead_inputMessage">
		    <part name="parameters" element="tns:markAnnouncementsAsRead"/>
	  </message>

	  <message name="markAnnouncementsAsRead_outputMessage">
		    <part name="parameters" element="tns:markAnnouncementsAsReadResponse"/>
	  </message>

	

	  <message name="getQuestions_inputMessage">
		    <part name="parameters" element="tns:getQuestions"/>
	  </message>

	  <message name="getQuestions_outputMessage">
		    <part name="parameters" element="tns:getQuestionsResponse"/>
	  </message>

	

	  <message name="getContentMetadata_inputMessage">
		    <part name="parameters" element="tns:getContentMetadata"/>
	  </message>

	  <message name="getContentMetadata_outputMessage">
		    <part name="parameters" element="tns:getContentMetadataResponse"/>
	  </message>

	

	  <message name="getContentResources_inputMessage">
		    <part name="parameters" element="tns:getContentResources"/>
	  </message>

	  <message name="getContentResources_outputMessage">
		    <part name="parameters" element="tns:getContentResourcesResponse"/>
	  </message>


	

	  <message name="getKeyExchangeObject_inputMessage">
		    <part name="parameters" element="tns:getKeyExchangeObject"/>
	  </message>

	  <message name="getKeyExchangeObject_outputMessage">
		    <part name="parameters" element="tns:getKeyExchangeObjectResponse"/>
	  </message>

	

	  <message name="getServiceAttributes_inputMessage">
		    <part name="parameters" element="tns:getServiceAttributes"/>
	  </message>

	  <message name="getServiceAttributes_outputMessage">
		    <part name="parameters" element="tns:getServiceAttributesResponse"/>
	  </message>

	

	  <message name="internalServerErrorFault_message">
		    <part name="fault" element="tns:internalServerErrorFault"/>
	  </message>

	  <message name="noActiveSessionFault_message">
		    <part name="fault" element="tns:noActiveSessionFault"/>
	  </message>

	  <message name="operationNotSupportedFault_message">
		    <part name="fault" element="tns:operationNotSupportedFault"/>
	  </message>

	  <message name="invalidOperationFault_message">
		    <part name="fault" element="tns:invalidOperationFault"/>
	  </message>

	  <message name="invalidParameterFault_message">
		    <part name="fault" element="tns:invalidParameterFault"/>
	  </message>


	  <portType name="daisy-online">

		
		
		

		    <operation name="logOn">
			
			      <input message="tns:logOn_inputMessage"/>
			      <output message="tns:logOn_outputMessage"/>
			      <fault name="logOn_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="logOn_invalidOperationFault" message="tns:invalidOperationFault_message"/>
		    </operation>

		    <operation name="logOff">
			
			      <input message="tns:logOff_inputMessage"/>
			      <output message="tns:logOff_outputMessage"/>
			      <fault name="logOff_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="logOff_invalidOperationFault" message="tns:invalidOperationFault_message"/>
		    </operation>

		    <operation name="setReadingSystemAttributes">
			
			      <input message="tns:setReadingSystemAttributes_inputMessage"/>
			      <output message="tns:setReadingSystemAttributes_outputMessage"/>
			      <fault name="setReadingSystemAttributes_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="setReadingSystemAttributes_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="setReadingSystemAttributes_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="setReadingSystemAttributes_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="issueContent">
			
			      <input message="tns:issueContent_inputMessage"/>
			      <output message="tns:issueContent_outputMessage"/>
			      <fault name="issueContent_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="issueContent_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="issueContent_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="issueContent_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>



		    <operation name="getContentMetadata">
			
			      <input message="tns:getContentMetadata_inputMessage"/>
			      <output message="tns:getContentMetadata_outputMessage"/>
			      <fault name="getContentMetadata_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getContentMetadata_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getContentMetadata_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
			      <fault name="getContentMetadata_invalidOperationFault" message="tns:invalidOperationFault_message"/>
		    </operation>

		    <operation name="getContentResources">
			
			      <input message="tns:getContentResources_inputMessage"/>
			      <output message="tns:getContentResources_outputMessage"/>
			      <fault name="getContentResources_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getContentResources_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getContentResources_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getContentResources_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>


		    <operation name="getServiceAttributes">
			
			      <input message="tns:getServiceAttributes_inputMessage"/>
			      <output message="tns:getServiceAttributes_outputMessage"/>
			      <fault name="getServiceAttributes_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getServiceAttributes_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getServiceAttributes_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		
		
		

		    <operation name="getContentList">
			
			      <input message="tns:getContentList_inputMessage"/>
			      <output message="tns:getContentList_outputMessage"/>
			      <fault name="getContentList_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getContentList_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getContentList_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getContentList_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="getServiceAnnouncements">
			
			      <input message="tns:getServiceAnnouncements_inputMessage"/>
			      <output message="tns:getServiceAnnouncements_outputMessage"/>
			      <fault name="getServiceAnnouncements_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getServiceAnnouncements_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getServiceAnnouncements_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="getServiceAnnouncements_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="markAnnouncementsAsRead">
			
			      <input message="tns:markAnnouncementsAsRead_inputMessage"/>
			      <output message="tns:markAnnouncementsAsRead_outputMessage"/>
			      <fault name="markAnnouncementsAsRead_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="markAnnouncementsAsRead_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="markAnnouncementsAsRead_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="markAnnouncementsAsRead_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="markAnnouncementsAsRead_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="returnContent">
			
			      <input message="tns:returnContent_inputMessage"/>
			      <output message="tns:returnContent_outputMessage"/>
			      <fault name="returnContent_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="returnContent_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="returnContent_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="returnContent_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="returnContent_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="setBookmarks">
			
			      <input message="tns:setBookmarks_inputMessage"/>
			      <output message="tns:setBookmarks_outputMessage"/>
			      <fault name="setBookmarks_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="setBookmarks_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="setBookmarks_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="setBookmarks_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="setBookmarks_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="getBookmarks">
			
			      <input message="tns:getBookmarks_inputMessage"/>
			      <output message="tns:getBookmarks_outputMessage"/>
			      <fault name="getBookmarks_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getBookmarks_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getBookmarks_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getBookmarks_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="getBookmarks_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="getQuestions">
			
			      <input message="tns:getQuestions_inputMessage"/>
			      <output message="tns:getQuestions_outputMessage"/>
			      <fault name="getQuestions_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getQuestions_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getQuestions_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getQuestions_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="getQuestions_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

		    <operation name="getKeyExchangeObject">
			
			      <input message="tns:getKeyExchangeObject_inputMessage"/>
			      <output message="tns:getKeyExchangeObject_outputMessage"/>
			      <fault name="getKeyExchangeObject_internalServerErrorFault" message="tns:internalServerErrorFault_message"/>
			      <fault name="getKeyExchangeObject_invalidOperationFault" message="tns:invalidOperationFault_message"/>
			      <fault name="getKeyExchangeObject_invalidParameterFault" message="tns:invalidParameterFault_message"/>
			      <fault name="getKeyExchangeObject_operationNotSupportedFault" message="tns:operationNotSupportedFault_message"/>
			      <fault name="getKeyExchangeObject_noActiveSessionFault" message="tns:noActiveSessionFault_message"/>
		    </operation>

	  </portType>

	  
   <binding name="DaisyOnlineService" type="tns:daisy-online">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>    
      <operation name="logOn">
         <soap:operation soapAction="/logOn" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="logOn_internalServerErrorFault">
            <soap:fault use="literal" name="logOn_internalServerErrorFault"/>
         </fault>    
         <fault name="logOn_invalidOperationFault">
            <soap:fault use="literal" name="logOn_invalidOperationFault"/>
         </fault>
      </operation>    
      <operation name="logOff">
         <soap:operation soapAction="/logOff" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="logOff_internalServerErrorFault">
            <soap:fault use="literal" name="logOff_internalServerErrorFault"/>
         </fault>    
         <fault name="logOff_invalidOperationFault">
            <soap:fault use="literal" name="logOff_invalidOperationFault"/>
         </fault>
      </operation>    
      <operation name="setReadingSystemAttributes">
         <soap:operation soapAction="/setReadingSystemAttributes" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="setReadingSystemAttributes_internalServerErrorFault">
            <soap:fault use="literal" name="setReadingSystemAttributes_internalServerErrorFault"/>
         </fault>    
         <fault name="setReadingSystemAttributes_invalidOperationFault">
            <soap:fault use="literal" name="setReadingSystemAttributes_invalidOperationFault"/>
         </fault>    
         <fault name="setReadingSystemAttributes_invalidParameterFault">
            <soap:fault use="literal" name="setReadingSystemAttributes_invalidParameterFault"/>
         </fault>    
         <fault name="setReadingSystemAttributes_noActiveSessionFault">
            <soap:fault use="literal" name="setReadingSystemAttributes_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="issueContent">
         <soap:operation soapAction="/issueContent" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="issueContent_internalServerErrorFault">
            <soap:fault use="literal" name="issueContent_internalServerErrorFault"/>
         </fault>    
         <fault name="issueContent_invalidOperationFault">
            <soap:fault use="literal" name="issueContent_invalidOperationFault"/>
         </fault>    
         <fault name="issueContent_invalidParameterFault">
            <soap:fault use="literal" name="issueContent_invalidParameterFault"/>
         </fault>    
         <fault name="issueContent_noActiveSessionFault">
            <soap:fault use="literal" name="issueContent_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getContentMetadata">
         <soap:operation soapAction="/getContentMetadata" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getContentMetadata_internalServerErrorFault">
            <soap:fault use="literal" name="getContentMetadata_internalServerErrorFault"/>
         </fault>    
         <fault name="getContentMetadata_invalidParameterFault">
            <soap:fault use="literal" name="getContentMetadata_invalidParameterFault"/>
         </fault>    
         <fault name="getContentMetadata_noActiveSessionFault">
            <soap:fault use="literal" name="getContentMetadata_noActiveSessionFault"/>
         </fault>    
         <fault name="getContentMetadata_invalidOperationFault">
            <soap:fault use="literal" name="getContentMetadata_invalidOperationFault"/>
         </fault>
      </operation>    
      <operation name="getContentResources">
         <soap:operation soapAction="/getContentResources" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getContentResources_internalServerErrorFault">
            <soap:fault use="literal" name="getContentResources_internalServerErrorFault"/>
         </fault>    
         <fault name="getContentResources_invalidOperationFault">
            <soap:fault use="literal" name="getContentResources_invalidOperationFault"/>
         </fault>    
         <fault name="getContentResources_invalidParameterFault">
            <soap:fault use="literal" name="getContentResources_invalidParameterFault"/>
         </fault>    
         <fault name="getContentResources_noActiveSessionFault">
            <soap:fault use="literal" name="getContentResources_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getServiceAttributes">
         <soap:operation soapAction="/getServiceAttributes" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getServiceAttributes_internalServerErrorFault">
            <soap:fault use="literal" name="getServiceAttributes_internalServerErrorFault"/>
         </fault>    
         <fault name="getServiceAttributes_invalidOperationFault">
            <soap:fault use="literal" name="getServiceAttributes_invalidOperationFault"/>
         </fault>    
         <fault name="getServiceAttributes_noActiveSessionFault">
            <soap:fault use="literal" name="getServiceAttributes_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getContentList">
         <soap:operation soapAction="/getContentList" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getContentList_internalServerErrorFault">
            <soap:fault use="literal" name="getContentList_internalServerErrorFault"/>
         </fault>    
         <fault name="getContentList_invalidOperationFault">
            <soap:fault use="literal" name="getContentList_invalidOperationFault"/>
         </fault>    
         <fault name="getContentList_invalidParameterFault">
            <soap:fault use="literal" name="getContentList_invalidParameterFault"/>
         </fault>    
         <fault name="getContentList_noActiveSessionFault">
            <soap:fault use="literal" name="getContentList_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getServiceAnnouncements">
         <soap:operation soapAction="/getServiceAnnouncements" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getServiceAnnouncements_internalServerErrorFault">
            <soap:fault use="literal" name="getServiceAnnouncements_internalServerErrorFault"/>
         </fault>    
         <fault name="getServiceAnnouncements_invalidOperationFault">
            <soap:fault use="literal" name="getServiceAnnouncements_invalidOperationFault"/>
         </fault>    
         <fault name="getServiceAnnouncements_operationNotSupportedFault">
            <soap:fault use="literal" name="getServiceAnnouncements_operationNotSupportedFault"/>
         </fault>    
         <fault name="getServiceAnnouncements_noActiveSessionFault">
            <soap:fault use="literal" name="getServiceAnnouncements_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="markAnnouncementsAsRead">
         <soap:operation soapAction="/markAnnouncementsAsRead" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="markAnnouncementsAsRead_internalServerErrorFault">
            <soap:fault use="literal" name="markAnnouncementsAsRead_internalServerErrorFault"/>
         </fault>    
         <fault name="markAnnouncementsAsRead_invalidOperationFault">
            <soap:fault use="literal" name="markAnnouncementsAsRead_invalidOperationFault"/>
         </fault>    
         <fault name="markAnnouncementsAsRead_invalidParameterFault">
            <soap:fault use="literal" name="markAnnouncementsAsRead_invalidParameterFault"/>
         </fault>    
         <fault name="markAnnouncementsAsRead_operationNotSupportedFault">
            <soap:fault use="literal" name="markAnnouncementsAsRead_operationNotSupportedFault"/>
         </fault>    
         <fault name="markAnnouncementsAsRead_noActiveSessionFault">
            <soap:fault use="literal" name="markAnnouncementsAsRead_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="returnContent">
         <soap:operation soapAction="/returnContent" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="returnContent_internalServerErrorFault">
            <soap:fault use="literal" name="returnContent_internalServerErrorFault"/>
         </fault>    
         <fault name="returnContent_invalidOperationFault">
            <soap:fault use="literal" name="returnContent_invalidOperationFault"/>
         </fault>    
         <fault name="returnContent_invalidParameterFault">
            <soap:fault use="literal" name="returnContent_invalidParameterFault"/>
         </fault>    
         <fault name="returnContent_operationNotSupportedFault">
            <soap:fault use="literal" name="returnContent_operationNotSupportedFault"/>
         </fault>    
         <fault name="returnContent_noActiveSessionFault">
            <soap:fault use="literal" name="returnContent_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="setBookmarks">
         <soap:operation soapAction="/setBookmarks" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="setBookmarks_internalServerErrorFault">
            <soap:fault use="literal" name="setBookmarks_internalServerErrorFault"/>
         </fault>    
         <fault name="setBookmarks_invalidOperationFault">
            <soap:fault use="literal" name="setBookmarks_invalidOperationFault"/>
         </fault>    
         <fault name="setBookmarks_invalidParameterFault">
            <soap:fault use="literal" name="setBookmarks_invalidParameterFault"/>
         </fault>    
         <fault name="setBookmarks_operationNotSupportedFault">
            <soap:fault use="literal" name="setBookmarks_operationNotSupportedFault"/>
         </fault>    
         <fault name="setBookmarks_noActiveSessionFault">
            <soap:fault use="literal" name="setBookmarks_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getBookmarks">
         <soap:operation soapAction="/getBookmarks" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getBookmarks_internalServerErrorFault">
            <soap:fault use="literal" name="getBookmarks_internalServerErrorFault"/>
         </fault>    
         <fault name="getBookmarks_invalidOperationFault">
            <soap:fault use="literal" name="getBookmarks_invalidOperationFault"/>
         </fault>    
         <fault name="getBookmarks_invalidParameterFault">
            <soap:fault use="literal" name="getBookmarks_invalidParameterFault"/>
         </fault>    
         <fault name="getBookmarks_operationNotSupportedFault">
            <soap:fault use="literal" name="getBookmarks_operationNotSupportedFault"/>
         </fault>    
         <fault name="getBookmarks_noActiveSessionFault">
            <soap:fault use="literal" name="getBookmarks_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getQuestions">
         <soap:operation soapAction="/getQuestions" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getQuestions_internalServerErrorFault">
            <soap:fault use="literal" name="getQuestions_internalServerErrorFault"/>
         </fault>    
         <fault name="getQuestions_invalidOperationFault">
            <soap:fault use="literal" name="getQuestions_invalidOperationFault"/>
         </fault>    
         <fault name="getQuestions_invalidParameterFault">
            <soap:fault use="literal" name="getQuestions_invalidParameterFault"/>
         </fault>    
         <fault name="getQuestions_operationNotSupportedFault">
            <soap:fault use="literal" name="getQuestions_operationNotSupportedFault"/>
         </fault>    
         <fault name="getQuestions_noActiveSessionFault">
            <soap:fault use="literal" name="getQuestions_noActiveSessionFault"/>
         </fault>
      </operation>    
      <operation name="getKeyExchangeObject">
         <soap:operation soapAction="/getKeyExchangeObject" style="document"/>
         <input>
            <soap:body use="literal"/>
         </input>
         <output>
            <soap:body use="literal"/>
         </output>    
         <fault name="getKeyExchangeObject_internalServerErrorFault">
            <soap:fault use="literal" name="getKeyExchangeObject_internalServerErrorFault"/>
         </fault>    
         <fault name="getKeyExchangeObject_invalidOperationFault">
            <soap:fault use="literal" name="getKeyExchangeObject_invalidOperationFault"/>
         </fault>    
         <fault name="getKeyExchangeObject_invalidParameterFault">
            <soap:fault use="literal" name="getKeyExchangeObject_invalidParameterFault"/>
         </fault>    
         <fault name="getKeyExchangeObject_operationNotSupportedFault">
            <soap:fault use="literal" name="getKeyExchangeObject_operationNotSupportedFault"/>
         </fault>    
         <fault name="getKeyExchangeObject_noActiveSessionFault">
            <soap:fault use="literal" name="getKeyExchangeObject_noActiveSessionFault"/>
         </fault>
      </operation>
   </binding>
   <service name="Kolibre_Daisy_Online_Service">
       <port name="HTTP" binding="tns:DaisyOnlineService">
           <soap:address location="SERVICE_WSDL_URI_PLACEHOLDER"/>
       </port>
   </service>
</definitions>
